/* App.css */

#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 100%
}

.table-container {
  width: 100%;
  overflow-x: auto;
}

/* Ensure consistent padding and spacing */
.table-container table {
  width: 100%;
  border-collapse: collapse;
}

.table-container th,
.table-container td {
  padding: 0.75rem;
  text-align: left;
  border: 1px solid #ddd;
}